<main role="main" property="mainContentOfPage" class="container">
		<h1 property="name" id="wb-cont">Application Form</h1>
	
		<section>
			<h2>1. General Information</h2>
			<div class="wb-frmvld">
				<form action="#" method="get" id="validation-example">

						<fieldset>
								<legend>Organization information</legend>

								
								<div class="form-group">
									<label for="fname1" class="required">
										<span class="field-name">Organization name</span>
										<strong class="required">(required)</strong>
									</label>
									<input class="form-control" id="fname1" name="fname1" type="text" required="required" pattern=".{2,}" data-rule-minlength="2">
								</div>
								
								<div class="form-group">
									<label for="lname1" class="required">
										<span class="field-name">Business Number</span>
										<strong class="required">(required)</strong>
									</label>
									<input class="form-control" id="lname1" name="lname1" type="text" required="required" pattern=".{2,}" data-rule-minlength="2">
								</div>
								
								<div class="form-group">
									<label for="url1">
										<span class="field-name">Website URL (http://www.url.com)</span>
									</label>
									<input class="form-control" id="url1" name="url1" type="url">
								</div>
							
								<div class="form-group">
									<label for="file1" class="required">
										<span class="field-name">Article of Incorporation</span>
										<strong class="required">(required)</strong>
									</label>
									<input id="file1" name="file1" type="file" required="required">
								</div>
							
							</fieldset>
							
					

					<fieldset>
						<legend>Contact information</legend>
						<div class="form-group">
							<label for="title1" class="required">
								<span class="field-name">Title</span>
								<strong class="required">(required)</strong>
							</label>
							<select class="form-control" id="title1" name="title1" required="required">
								<option label="Select a title"></option>
								<option value="dr">Dr.</option>
								<option value="esq">Esq.</option>
								<option value="mr">Mr.</option>
								<option value="ms">Ms.</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="fname1" class="required">
								<span class="field-name">First name</span>
								<strong class="required">(required)</strong>
							</label>
							<input class="form-control" id="fname1" name="fname1" type="text" required="required" pattern=".{2,}" data-rule-minlength="2">
						</div>
						
						<div class="form-group">
							<label for="lname1" class="required">
								<span class="field-name">Last name</span>
								<strong class="required">(required)</strong>
							</label>
							<input class="form-control" id="lname1" name="lname1" type="text" required="required" pattern=".{2,}" data-rule-minlength="2">
						</div>
						
						<div class="form-group">
							<label for="tel1" class="required">
								<span class="field-name">Telephone number (including area code)</span>
								<strong class="required">(required)</strong>
							</label>
							<input class="form-control" id="tel1" name="tel1" type="tel" required="required" data-rule-phoneus="true">
						</div>
						
						<div class="form-group">
							<label for="pcodeca1" class="required">
								<span class="field-name">Postal code (Canada)</span>
								<strong class="required">(required)</strong>
							</label>
							<input class="form-control" id="pcodeca1" name="pcodeca1" type="text" size="7" maxlength="7" required="required" data-rule-postalcodeca="true">
						</div>
					
						<div class="form-group">
							<label for="email1">
								<span class="field-name">Email address</span> (yourname@domain.com)</label>
							<input class="form-control" id="email1" name="email1" type="email">
						</div>
					
						<div class="form-group">
							<label for="url1">
								<span class="field-name">Website URL (http://www.url.com)</span>
							</label>
							<input class="form-control" id="url1" name="url1" type="url">
						</div>
					
						<div class="form-group">
							<label for="file1" class="required">
								<span class="field-name">File</span>
								<strong class="required">(required)</strong>
							</label>
							<input id="file1" name="file1" type="file" required="required">
						</div>
					
					</fieldset>
					<fieldset>
						<legend>Project Information</legend>
						<div class="form-group">
							<label for="date1">
								<span class="field-name">Start Date</span>
								<span class="datepicker-format"> (YYYY-MM-DD)</span>
							</label>
							<input class="form-control" id="date1" name="date1" type="date" data-rule-dateiso="true">
						</div>

						<div class="form-group">
								<label for="date1">
									<span class="field-name">End Date Date</span>
									<span class="datepicker-format"> (YYYY-MM-DD)</span>
								</label>
								<input class="form-control" id="date2" name="date2" type="date" data-rule-dateiso="true">
							</div>
						
					
						
						<div class="form-group">
							<label for="an1">
								<span class="field-name">Amount Requested</span> (Maximum 10,000.00)</label>
							<input class="form-control" id="an1" name="an1" type="text" pattern="[A-Za-z0-9\s]{4,}" data-rule-alphanumeric="true" data-rule-minlength="4">
						</div>
						
						<div class="form-group">
							<label for="numeric1">
								<span class="field-name">Number of anticipated participants</span></label>
							<input class="form-control" id="numeric1" name="numeric1" type="number" data-rule-digits="true">
						</div>
						
						
					</fieldset>
					<fieldset>
						<legend class="required">
							<span class="field-name">Favourite pets</span>
							<strong class="required">(required)</strong>
						</legend>
						<div class="checkbox">
							<label for="animal1">
								<input type="checkbox" name="animal" value="1" id="animal1" required="required">&#160;&#160;Dog</label>
						</div>
						<div class="checkbox">
							<label for="animal2">
								<input type="checkbox" name="animal" value="2" id="animal2">&#160;&#160;Cat</label>
						</div>
						<div class="checkbox">
							<label for="animal3">
								<input type="checkbox" name="animal" value="3" id="animal3">&#160;&#160;Fish</label>
						</div>
						<div class="checkbox">
							<label for="animal4">
								<input type="checkbox" name="animal" value="4" id="animal4">&#160;&#160;Other</label>
						</div>
					</fieldset>
					
					<fieldset>
						<legend class="required">
							<span class="field-name">Organization status</span>
							<strong class="required">(required)</strong>
						</legend>
						<div class="radio">
							<label for="status1">
								<input type="radio" name="status" value="1" id="status1" required="required">&#160;&#160;Provincial</label>
						</div>
						<div class="radio">
							<label for="status2">
								<input type="radio" name="status" value="2" id="status2">&#160;&#160;Federal</label>
						</div>
						<div class="radio">
							<label for="status3">
								<input type="radio" name="status" value="3" id="status3">&#160;&#160;Special permit</label>
						</div>
						<div class="radio">
							<label for="status4">
								<input type="radio" name="status" value="4" id="status4">&#160;&#160;Other</label>
						</div>
					</fieldset>
					
					<input type="submit" value="Submit" class="btn btn-primary">
					<input type="reset" value="Reset" class="btn btn-default">
				</form>
			</div>
			<noscript>
				<p>This form cannot be submitted without JavaScript. You may use one of the following methods:</p>
				<ul>
					<li>Method 1</li>
					<li>Method 2</li>
					<li>Method n</li>
				</ul>
			</noscript>
		</section>
		<div class="pagedetails">
			<dl id="wb-dtmd">
				<dt>Date modified:&#32;</dt>
				<dd>
					<time property="dateModified">2015-10-19</time>
				</dd>
			</dl>
			<div class="row">
				<div class="col-sm-6 col-md-5 col-lg-4">
					<details class="brdr-0">
						<summary class="btn btn-default text-center">Report a problem on this page</summary>
						<div class="well row">
							<div class="gc-rprt-prblm">
								<div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
									<form action="#">
										<fieldset>
											<legend>
												<span class="field-name">Please select all that apply: </span>
											</legend>
											<div class="checkbox">
												<label for="problem1">
													<input type="checkbox" data-reveal="#broken" name="problem" value="Something is broken" id="problem1">Something is broken</label>
											</div>
											<div class="form-group hide" id="broken">
												<label for="problem1-detail">Provide more details (optional):</label>
												<input type="text" class="form-control full-width" id="problem1-detail">
											</div>
											<div class="checkbox">
												<label for="problem2">
													<input type="checkbox" data-reveal="#spelling" name="problem" value="It has spelling or grammar mistakes" id="problem2">The page has spelling or grammar mistakes</label>
											</div>
											<div class="form-group hide" id="spelling">
												<label for="problem2-detail">Provide more details (optional):</label>
												<input type="text" class="form-control full-width" id="problem2-detail">
											</div>
											<div class="checkbox">
												<label for="problem3">
													<input type="checkbox" data-reveal="#wrong" name="problem" value="The information is wrong" id="problem3">The information is wrong</label>
											</div>
											<div class="form-group hide" id="wrong">
												<label for="problem3-detail">Provide more details (optional):</label>
												<input type="text" class="form-control full-width" id="problem3-detail">
											</div>
											<div class="checkbox">
												<label for="problem4">
													<input type="checkbox" data-reveal="#outdated" name="problem" value="The information is outdated" id="problem4">The information is outdated</label>
											</div>
											<div class="form-group hide" id="outdated">
												<label for="problem4-detail">Provide more details (optional):</label>
												<input type="text" class="form-control full-width" id="problem4-detail">
											</div>
											<div class="checkbox">
												<label for="problem5">
													<input type="checkbox" data-reveal="#find" name="problem" value="I can’t find what I’m looking for" id="problem5">I can’t find what I’m looking for</label>
											</div>
											<div class="form-group hide" id="find">
												<label for="problem5-detail">Describe what you’re looking for (optional):</label>
												<input type="text" class="form-control full-width" id="problem5-detail">
											</div>
											<div class="checkbox">
												<label for="problem6">
													<input type="checkbox" data-reveal="#confusing" name="problem" value="It’s confusing" id="problem6">Other</label>
											</div>
											<div class="form-group hide" id="confusing">
												<label for="problem6-detail">Provide more details (optional):</label>
												<input type="text" class="form-control full-width" id="problem6-detail">
											</div>
										</fieldset>
										<button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>Submit</button>
									</form>
								</div>
								<div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
									<h3>Thank you for your help!</h3>
									<p>You will not receive a reply. For enquiries, please
										<a href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
								</div>
							</div>
						</div>
					</details>
				</div>
			</div>
		</div>
	</main>